<!-- src/app/app.component.html -->
<div class="invoice-container">
  <header class="invoice-header">
    <h1>Invoice Generator</h1>
    <p>Invoicing Simplified</p>
  </header>

  <app-invoice-details></app-invoice-details>
  <div class="split-section">
    <app-sender-recipient></app-sender-recipient>
  </div>
  <app-invoice-items></app-invoice-items>
  <app-banking-details></app-banking-details>
  <app-additional-notes></app-additional-notes>

  <div class="button-group">
    <button class="btn btn-primary" (click)="generatePDF()">Generate Invoice</button>
    <button class="btn btn-secondary" (click)="printInvoice()">Print Invoice</button>
  </div>
</div>